@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #9366e0;
}

.header-section{
    display: flex;
    max-width: 1200px;
    /* background-color: aqua; */
    margin: 0 auto;
    /* border: 2px solid blue; */
}

.nav-conteiner{
    /* border: 1px solid red; */
    min-height: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 50%;

    
}
.nav-conteiner img{
    width: 90px;
}

.nav-conteiner p{
    font-size: 25px;
    font-weight: 900;

}
.spacial{
    color: rgb(111, 225, 145);
}

.item-conteiner{
    /* border: 1px solid yellow; */
    min-height: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-conteiner a {

    text-decoration: none;
    color: azure;
    font-weight: 600;



}

.item-conteiner a.button {
    padding: 10px 20px;
    background-color: rgb(111, 225, 145) ;
    border-radius: 5px;
    color: black;

    
}
/* compleate a nevigation ber  */

/* compleate a nevigation ber  */


.banner-section{
  
    
    display: flex;
    max-width: 1250px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e6e9eb;
    /* border: 1px solid red; */
    min-height: 400px;
    border-radius: 10px;


}

.text-conteiner{
    /* border: 1px solid black; */
    min-height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   


}

.banner-img-conteiner{

    /* border: 1px solid black; */
    min-height: 400px;
    width: 50%;
    position: relative;



}
.banner-img-conteiner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;


}



.banner-heaf{
    background:linear-gradient(to-bottom,red,green,blue );
    background-clip: text;
    color: transparent;
    color: rgb(112, 87, 87);
    font-size: 45px;
}
#cullections{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;   
    font-weight: 600;
    text-align: center;
}

.fa-brands{
    font-size: 45px;
}

.icon{
    display: flex;
    gap: 20px;
    padding: 10px 5px;
}

.button{
    padding: 10px 20px;
    background-color: rgb(111, 225, 145) ;
    border-radius: 5px;
    color: black;
    font-size: 20;
    font-weight: 600;
    margin-right: 5px;

  
}

.discount{

    width: 90px;
    height: 90px;
    background-color: rgb(111, 225, 145) ;
    display: flex;
    justify-content: center;
    color: rgb(60, 73, 73);
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
    position: absolute;
    bottom: 65%;
    left: 75%;
    font-family: 'Dancing Script', cursive;



}


/* products section start */

.products-section{   
    max-width: 1250px;
    margin: 0 auto;
}



.grid-conteiner{
    min-width:400px ;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.singel-products{

    /* border: 1px solid black; */
    /* width: 30%; */
    padding: 2%;
    background-color:  #e6e9eb;;

}

.singel-products >img{

    width: 70%;
    padding-left: 30px;
    


}
.product-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* products section end  */

/* gallery section start  */

.gallery-section{
    max-width: 1250px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    margin-top: 20px ;
}

.gallery-conteiner{

    display: flex;
    flex-basis: 300px;
    justify-content: center;
    gap: 16px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
   
   
}

.single-gallery img{
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.single-gelarry{
    width: 70%;
    
    

}

 /* gallery section end */


 /* footer section start  */

 .footer-section{
    background-color:#9366e0; 
    max-width: 1250px;
    margin: 30px auto;
    height: 100px;

 }

 .footer-pera{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 30px;
 }

.rafi{
    /* color: #e6e9eb; */
    font-size: 30px;
    text-shadow: 3px 3px 2px rgba(179, 90, 90, 0.6);
} 